::before,
::after {
  box-sizing: border-box; 
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #2e2f42;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit; 
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-top: 4px solid #FFF; 
  border-right: 4px solid transparent; 
  box-sizing: border-box; 
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1000; 
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute; 
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #4e75ff; 
  border-left: 4px solid transparent; 
  animation: rotation 1s linear infinite reverse; 
}

.loader.is-visible {
  display: block; 
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 8px; 
  padding: 24px 16px; 
  margin-bottom: 8px;
}

.form input {
  width: 238.4px; 
  padding: 8px 16px; 
  border: 1px solid #808080; 
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #808080;
  border-radius: 4px; 
  outline: none; 
}
.form input::placeholder {
  color: #808080; 
}

.form input:focus {
  border-color: #4e75ff; 
}

.form button {
  width: 91px; 
  height: 40px;
  padding: 8px 16px;
  background-color: #4e75ff; 
  color: #fff; 
  border: none;
  border-radius: 8px; 
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.form button:hover {
  background-color: #6c8cff; 
}

.form input[type="text"]:hover {
  border-color: #000; 
}

.form input[type="text"]:focus {
  border-color: #4e75ff; 
}

.gallery {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 24px; 
  margin: 0 auto; 
  padding: 0 16px 32px; 
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
  border: 1px solid #808080;
  overflow: hidden; 
  background-color: #fff; 
  transition: transform 0.3s ease; 
  width: 360px;
}

.gallery-item:hover {
  transform: scale(1.03); 
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%; 
  height: 152px;
  object-fit: cover; 
  display: block; 
}

.info {
  display: flex;
  justify-content: space-around; 
  margin: 0;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  padding-bottom: 4px;
  height: 43.2px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px; 
  line-height: 1.33;
  color: #2e2f42;
}

.info-item b {
  font-weight: 600;
}
